node_modules/

.idea
node_modules
coverage
temp
test
src/__dev
/dist/__dev/
/dist/__run.d.ts
docs/
.github/

.editorconfig
tsconfig.json
.eslintignore
.eslintrc.js
.prettierrc.js
.release-it.json
jest.config.js
rollup.config.js
